
# Created by https://www.gitignore.io/api/go,serverless
# Edit at https://www.gitignore.io/?templates=go,serverless

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/

### Serverless ###
# Ignore build directory
.serverless

# End of https://www.gitignore.io/api/go,serverless